------------------------------
This is the angular grid for slab. 
Angles in degrees.
------------------------------
Nmu = 11
   0.0
  10.0
  20.0
  30.0
  40.0
  50.0
  60.0
  70.0
  80.0
  85.0
  89.0

